node_modules/ 
.angular/
dist/

HELP.md 
NOTES.md

package-lock.json

.idea/ 
*.iml 
*.ipr 
*.iws 
.classpath 
.factorypath 
.project 
.settings 
.springBeans 
.sts4-cache 
.nbproject/private/ 
.nbbuild/ 
.nbdist/ 
.nb-gradle/ 
build/ 
.vscode/

*.log 
*.bak 
*.tmp 
.DS_Store

!/src/main//target/ 
!/src/test//target/